<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='text-page.css') }}">

    <title>Prediction Results</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Prediction Results</h1>
        <p><strong>Input Text:</strong> {{ text }}</p>
        <h3>Relevan Aspek dan Sentimen:</h3>
        <ul>
            {% for item in hasil %}
                <li>{{ item.aspek }} <strong>{{ item.sentimen }}</strong></li>
            {% else %}
                <li>Tidak ada aspek yang relevan.</li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-primary mt-3">Back</a>
    </div>
</body>
</html>
